{% extends 'base.html.twig' %}

{% block title %}Musiques{% endblock %}

{% block content %}
    <h1>Mon Compte</h1>
    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
     c'est dans cet espace que vous allez pouvoir gerer toutes vos information personnelles.
    <hr>
    - <a href=" {{ path('account_password') }} ">modifier mon mot de passe</a><br/>
    - ajouter mes adressses<br/>
    - Mes commandes<br/>
{% endblock %}