.navbar, .navbar a{
    color: white;   
}
a{
    margin-right: 10px;
    margin-left: 10px;
}
.app_footer{
    text-align: center;
    position: fixed;
    bottom: 0;   
    width: 100%;
    background-color: #dfeaff;
    padding: 15px;

}