body{
  position: relative;
}
.navbar, .navbar a{
  color: white;   
  text-decoration: none; 
}

a{
  margin-right: 10px;
  margin-left: 10px;
  text-decoration-style: none;
}
.corps{
  height: 100vh;
  padding-top: 10px;
  margin-bottom: 200px;
}
.app_footer{
  text-align: center;
  position: fixed;
  bottom: 0px;   
  width: 100%;
  background-color: #dfeaff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.fott{
  margin-left: 50px;
  margin-top: 20px;
}

a:hover, .priv{
  text-decoration: none;
}

a:hover, .term{
  text-decoration: none; 
}

.foot{
  margin-left: 40px;
}

.fooot{
  margin-top: 15px;
}

/**/
.form{
  width: 50%;
}

/* 
body{
  height: 100vh;
}
*/

